.music {
  background-color: rgb(54, 51, 51);
  width: 220px;
  height: 80px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
}

.install {
  color: white;
  font-weight: bold;
}

.add {
  color: grey;
  font-size: 10px;
  width: 220px;
  
}