.box {
  box-shadow: 0 0 3px rgb(0, 0, 0);
  width: 320px;
  height: 60px;
  border-radius: 5px;
  border: none;
}

.cat {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 10px;
}

.what {
  border: none;
  margin-left: 5px;
  vertical-align:middle;
}

.tweet {
  background-color: rgb(0, 119, 255);
  color: white;
  font-weight: bold;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100px;
}