p {
  margin-top: 0;
  margin-bottom: 0;
}

.cat {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.box {
  width: 100px;
  height: 195px;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.name {
  font-size: 13px;
  font-weight: bold;
  margin-left: 3px;
}

.mutual {
  margin-top: 2px;
  font-size: 10px;
  margin-bottom: 10px;
  color: grey;
  margin-left: 3px;
}

.add {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px; 
  margin-left: 3px;
}