.top {
  text-align: center;
}

.google {
    margin-top: 100px;
    object-fit: contain;
    width: 200px;
}

.middle {
  text-align: center;
}

.box {
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  width: 350px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.bottom {
  text-align: center;
}

.buttons {
  margin-top: 20px;
  background-color: rgb(197, 196, 196);
  color: black;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 10px;
}
