.flexbox {
  display: flex;
  height: 50px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
  align-items: center;
}

.lightpink {
  background-color: lightpink;
}