.container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;

}

.home {
  
}