p {
    margin-top: 0;
    margin-bottom: 0;
}

.email {
    font-size: 10px;
    color: grey;
}

.box {
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 5px;
}

.terms {
    margin-top: 10px;
    font-size: 11px;
    color: grey;
}

.agree {
    margin-top: 10px;
    background-color: rgba(0, 140, 255, 0.904);
    color: white;
    border: none;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
}