p {
    margin-top: 0;
    margin-bottom: 0;
}

.cat {
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 100px;
    vertical-align: middle;
}

.status {
    padding-left: 10px;
    border: none;
    vertical-align: middle;
}

.tweet {
    vertical-align: middle;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

}