p {

}

.bigcontainer {
  border-style: solid;
  width: 410px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.all-inboxes-container {
  color: rgb(165, 165, 165);
  margin-bottom: 20px;
  margin-left: 10px;
}

.details-container {
  display: flex;
}

.picture {
}

.cat {
  width: 50px;
  height: 50px;
  object-fit:  cover;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.email-details-container {

}

.email-title {
  display: flex;
}

.email-title-only {
  
}

.email-time {
  margin-left: 150px;
}


.email-content {
  margin-bottom: 30px;
}