.fixed {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  color: white;
  background-color: green;
  width: 100px;
}

.overlay {
  background-color:rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  padding-left: 10px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;
}

.modal-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-inside {
  margin-bottom: 10px;
}

.close {

}