.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.profile-picture {
  display: flex;
  align-items: center;
}
.cat {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}

.add {
  background-color: rgb(24, 119, 242);
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-right: 3px;
}

.msg {
  background-color: rgb(230, 230, 230);
  border: none;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
}