.sidebar-1 {
  position :fixed;
  background-color: rgb(33, 33, 33);
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.cat {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}

.cat2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}

.dog{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}

.sidebar-2 {
  background-color: rgb(55, 55, 55);
  color: gray;
  padding-left: 100px;
  position: fixed;
  top: 0;
  left: 70px;
  bottom: 0;
  width: 100px;

  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.info {
  color: white;
}

.plus {
  font-weight: bold;
}

.new {
  margin-top: 10px;
}

.updates {
  margin-top: 10px;
}

.faq {
  margin-top: 10px;
}