.google {
    display: block;
    object-fit: contain;
    width: 200px;
    margin-left: 100px;
}

.box {
    width: 300px;
    margin-top: 10px;
    margin-left: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}