p {
    margin-top: 0;
    margin-bottom: 0;
}

.first {
    width: 75px;
}

.last {
    width: 80px;
}

.email {
    display: block;
    width: 165px;
    margin-top: 8px;
}

.sign {
    margin-top: 8px;
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
}