p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat;
  text-align: center;
}

.model {
  font-size: 55px;
  font-weight: bold;
}

.order {
  font-size: 40px;
  margin-top: 40px;
}

.delivery {
  text-decoration: underline;
}