.blank {
  position: relative;
}

.close {
  position: absolute;
  top: 0px;
  right:0px;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}